Package: com.icraze.nohomebar16
Name: NoHomeBar16
Version: 1.0
Architecture: iphoneos-arm
Description: Remove the home bar on iOS 15/16
Maintainer: iCraze
Author: iCraze
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
